

.text1{
    width: 65%;
    text-align: center;
    margin-right: 3vw;;
    display: inline-block;
    font-size: 2rem;

}
.text2{
    width: 80%;
    text-align: center;
    margin: 3vw 5vw;


}

img{
    /* display: inline-block; */
    width: 25%;
    border: 2px solid black;
    height: 25vh;
    margin-top: 3%;

}
.image2{
    width: 20%;
    margin: 2vw;;


}
.container{

    margin: 5vw;
    border-bottom: 2px solid black ;
    padding: 5vw;
  
}


.content2{
    display: inline-block;
    width: 20%;
    margin: 2vw;
    font-size: 18pt;

}

.image3{

    margin-left:35% ;
    /* margin-top: 5vh; */
}

.text3{

    margin: 5vw;
    font-size: 2.5em;
}